#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
}

h1 {
  font-size: 2.5em;
  line-height: .4;
}

.master-controls button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  padding-left: 55px;
  padding-right: 55px;
}

.top-of-preset-form {
  margin-top: 30px;
}

.form button {
  margin-left: 15px;
  margin-top: 14px;
}

.form .MuiTextField-root {
  margin-top: 10px;
  margin-right: 15px;
}

.active {
  background-color: purple;
  transition: all .2s ease;
  cursor: pointer;
}
